# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
# We want to include the contents of the directory
#
# assets/js/dist
#
# from jekyll-theme-chirpy in this fork.
