<!-- The Side Bar -->

<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <div class="sidebar-top d-flex flex-wrap  align-items-center w-100">
    {% unless site.theme_mode %}
      <button type="button" class="mode-toggle btn" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- capture url -%}
            https://{{ entry.type }}.com/{{ site[entry.type].username }}
          {%- endcapture -%}
        {% when 'email' %}
          {% assign email = site.social.email | split: '@' %}
          {%- capture url -%}
            javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
          {%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}

      {% if url %}
        <a
          href="{{ url }}"
          aria-label="{{ entry.type }}"
          {% assign link_types = '' %}

          {% unless entry.noblank %}
            target="_blank"
            {% assign link_types = 'noopener noreferrer' %}
          {% endunless %}

          {% if entry.type == 'mastodon' %}
            {% assign link_types = link_types | append: ' me' | strip %}
          {% endif %}

          {% unless link_types == empty %}
            rel="{{ link_types }}"
          {% endunless %}
        >
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <!-- .sidebar-top -->

  <header class="profile-wrapper">
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
      {% if site.avatar != empty and site.avatar %}
        {% capture avatar_url %}
            {% if site.avatar contains '://' %}
              {{ site.avatar }}
            {% elsif site.img_cdn != empty and site.img_cdn %}
              {{ site.avatar | prepend: site.img_cdn }}
            {% else %}
              {{ site.avatar | relative_url }}
            {% endif %}
          {% endcapture %}
        <img src="{{ avatar_url | strip }}" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
      {% endif %}
    </a>
  </header>
  <!-- .profile-wrapper -->

  <!-- Table of contents -->
  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
    {% for chapter in site.data.summary.toc %}
      <li class="nav-item chapter{% if chapter.url == page.url %}{{ " active" }}{% endif %}">
        <a href="{{ site.data.summary.prefix | append: chapter.url }}" class="nav-link">
          <span>{{ chapter.title }}</span>
        </a>

        {% assign showSection = "hide" %}
        <!-- If the chapter is active, then show all its sections. -->
        {% if chapter.url == page.url %}
          {% assign showSection = "show" %}
        {% else %}
          <!-- If the chapter has an active section, then show all sections -->
          <!-- in the chapter. -->
          {% if chapter.subfolder %}
            {% for section in chapter.subfolder %}
              {% if section.url == page.url %}
                {% assign showSection = "show" %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}

        {% if chapter.subfolder %}
          <ul class="nav">
            {% for section in chapter.subfolder %}
              <li class="nav-item {{ showSection }}{% if section.url == page.url %}{{ " active" }}{% endif %}">
                <a href="{{ site.data.summary.prefix | append: section.url }}" class="nav-link">
                  <span>{{ section.title }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>

  <!-- Vertical whitespace to separate the last TOC entry from the bottom. -->
  <div class="sidebar-bottom"></div>
</aside>
<!-- #sidebar -->
